.HomeEvent {
  margin: 2.5rem 0;
}

.HomeEvent-title {
  color: #4A4A4A;
  font-size: 3rem;
  margin-top: 0;
  line-height: 3.4rem;
}

.HomeJoinUs {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#bd201f+0,bd201f+50,7c7e7d+50,7c7e7d+100 */
  background: #bd201f; /* Old browsers */
  background: -moz-linear-gradient(left,  #bd201f 0%, #bd201f 50%, #7c7e7d 50%, #7c7e7d 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  #bd201f 0%,#bd201f 50%,#7c7e7d 50%,#7c7e7d 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  #bd201f 0%,#bd201f 50%,#7c7e7d 50%,#7c7e7d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bd201f', endColorstr='#7c7e7d',GradientType=1 ); /* IE6-9 */
  color: #FFF;
}

.HomeJoinUs-item {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.HomeJoinUs-content {
  margin-bottom: 2rem
}

.HomeJoinUs-itemTitle  {
  margin: 0;
  font-size: 1.7rem;
}

.HomeJoinUs-itemSubtitle  {
  margin: 0;
  margin-bottom: 1rem;
  font-size: 1.4rem;
}

.HomeJoinUs-itemImageContainer {
  display: inline-block;
  vertical-align: middle;
  width: 85px;
}

.HomeJoinUs-itemTextContainer {
  display: inline-block;
  vertical-align: middle;
  padding-left: 10px;
  width: calc(100% - 89px);
}

.HomeJoinUs-itemText {
  margin: 0;
}

.HomeJoinUs-speaker {
  background: $main_color_red;
}

.HomeJoinUs-member {
  background: $main_color_grey;
}

.HomeTeam {
  background: #FFF;
}

@media screen and (min-width: 40em) {

}
