<section class="HomeEvent">
	<div class="row">
		<div class="medium-6 columns">
			<h2 class="HomeEvent-title"><%= @last_event.title %></h2>
		</div>
		<div class="medium-6 columns"></div>
	</div>
	<div class="row">
		<div class="small-12 colmuns">
			<%= link_to "Ver más", event_path(@last_event) %>
		</div>

	</div>
</section>
