<section class="Home">
	<div class=" u-container">
		<div class="Home-logoContainer">
			<% @events.each do |event| %>
			<%= link_to event.title, event_path(event) %>
			<% end %>
			<img class="Home-logoImg" src="images/logo.svg" alt="Web Union Granada" title="Web Union Granada">
			<a href="#" class="Home-button" data-reveal-id="myModal">Únete a la comunidad</a>
			<div id="myModal" class="reveal-modal large small" data-reveal>
				<!-- Begin MailChimp Signup Form -->
        <link href="http://cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">
        <style type="text/css">
        	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
        	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
        	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
        </style>
        <div id="mc_embed_signup">
          <form action="http://webuniongranada.us10.list-manage.com/subscribe/post?u=1007c5db82e5669c044f12599&amp;id=f6dfe1cbe9" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
            	<h2>Enteráte de lo que va a suceder</h2>
              <div class="indicates-required"><span class="asterisk">*</span> campo requerido</div>
              <div class="mc-field-group">
          	    <label for="mce-NAME">Nombre  <span class="asterisk">*</span></label>
          	    <input type="text" value="" name="NAME" class="required" id="mce-NAME">
              </div>
              <div class="mc-field-group">
          	    <label for="mce-SURNAME">Apellidos  <span class="asterisk">*</span></label>
          	    <input type="text" value="" name="SURNAME" class="required" id="mce-SURNAME">
              </div>
              <div class="mc-field-group">
                <label for="mce-EMAIL">Email  <span class="asterisk">*</span></label>
          	    <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
              </div>
              <div class="mc-field-group">
          	    <label for="mce-MMERGE3">Web personal </label>
          	    <input type="url" value="" name="MMERGE3" class=" url" id="mce-MMERGE3">
              </div>
              <div class="mc-field-group">
          	    <label for="mce-MMERGE4">Perfil </label>
          	    <select name="MMERGE4" class="" id="mce-MMERGE4">
          	      <option value=""></option>
                  <option value="Diseñador / Ilustrador">Diseñador / Ilustrador</option>
                  <option value="Desarrollador Web">Desarrollador Web</option>
                  <option value="Comunicación / Marketing">Comunicación / Marketing</option>
                  <option value="Fotógrafo / Videógrafo">Fotógrafo / Videógrafo</option>
                  <option value="UX / UI designer">UX / UI designer</option>
          	    </select>
              </div>
              <div class="mc-field-group input-group">
                <strong>Intereses</strong>
                <ul>
                  <li><input type="checkbox" value="1" name="group[12977][1]" id="mce-group[12977]-12977-0"><label for="mce-group[12977]-12977-0">Desarrollo WEB</label></li>
                  <li><input type="checkbox" value="4" name="group[12977][4]" id="mce-group[12977]-12977-1"><label for="mce-group[12977]-12977-1">UI / UX</label></li>
                  <li><input type="checkbox" value="8" name="group[12977][8]" id="mce-group[12977]-12977-2"><label for="mce-group[12977]-12977-2">Diseño web</label></li>
                  <li><input type="checkbox" value="16" name="group[12977][16]" id="mce-group[12977]-12977-3"><label for="mce-group[12977]-12977-3">Marketing</label></li>
                  <li><input type="checkbox" value="32" name="group[12977][32]" id="mce-group[12977]-12977-4"><label for="mce-group[12977]-12977-4">SEO</label></li>
                  <li><input type="checkbox" value="64" name="group[12977][64]" id="mce-group[12977]-12977-5"><label for="mce-group[12977]-12977-5">Foto / Video</label></li>
                </ul>
              </div>
            	<div id="mce-responses" class="clear">
            		<div class="response" id="mce-error-response" style="display:none"></div>
            		<div class="response" id="mce-success-response" style="display:none"></div>
            	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;">
                <input type="text" name="b_1007c5db82e5669c044f12599_f6dfe1cbe9" tabindex="-1" value="">
              </div>
              <div class="clear">
                <input type="submit" value="Vamos allá" name="subscribe" id="mc-embedded-subscribe" class="button">
              </div>
            </div>
          </form>
        </div>
        <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
        <script type='text/javascript'>
          (function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[1]='NAME';ftypes[1]='text';fnames[2]='SURNAME';ftypes[2]='text';fnames[0]='EMAIL';ftypes[0]='email';fnames[3]='MMERGE3';ftypes[3]='url';fnames[4]='MMERGE4';ftypes[4]='dropdown'; /*
           * Translated default messages for the $ validation plugin.
           * Locale: ES
           */
          $.extend($.validator.messages, {
            required: "Este campo es obligatorio.",
            remote: "Por favor, rellena este campo.",
            email: "Por favor, escribe una dirección de correo válida",
            url: "Por favor, escribe una URL válida.",
            date: "Por favor, escribe una fecha válida.",
            dateISO: "Por favor, escribe una fecha (ISO) válida.",
            number: "Por favor, escribe un número entero válido.",
            digits: "Por favor, escribe sólo dígitos.",
            creditcard: "Por favor, escribe un número de tarjeta válido.",
            equalTo: "Por favor, escribe el mismo valor de nuevo.",
            accept: "Por favor, escribe un valor con una extensión aceptada.",
            maxlength: $.validator.format("Por favor, no escribas más de {0} caracteres."),
            minlength: $.validator.format("Por favor, no escribas menos de {0} caracteres."),
            rangelength: $.validator.format("Por favor, escribe un valor entre {0} y {1} caracteres."),
            range: $.validator.format("Por favor, escribe un valor entre {0} y {1}."),
            max: $.validator.format("Por favor, escribe un valor menor o igual a {0}."),
            min: $.validator.format("Por favor, escribe un valor mayor o igual a {0}.")
          });}(jQuery));var $mcj = jQuery.noConflict(true);
        </script>
        <!--End mc_embed_signup-->
			  <a class="close-reveal-modal">&#215;</a>
			</div>
		</div>
	</div>
</section>
<footer class="Footer">
	<div class="Footer-container u-container">
		<a href="http://fb.me/webuniongranada" title="Facebook" target="_blank" class="Footer-social"><span class="icon--facebook custom-icon"></span></a>
		<a href="http://twitter.com/webuniongranada" title="Twitter" target="_blank" class="Footer-social"><span class="icon--twitter custom-icon"></span></a>
		<a href="http://plus.google.com/112550354412065744277/posts" title="Google Plus" target="_blank" class="Footer-social"><span class="icon--google-plus custom-icon" rel="publisher"></span></a>
		<a href="mailto:hola@webuniongranada.com" title="E-Mail" class="Footer-social"><span class="icon--mail custom-icon"></span></a>
	</div>
</footer>
