// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.Event--red {
  background: $main_color_red_dark;
}

.Event--grey {
  background: $main-color-grey;
}

.Event-itemText {
  color: #FFF;
}

.Event-itemImage {
  background-image: url('data:image/gif;base64,R0lGODlhAQABAAAAACwAAAAAAQABAAA=');
  background-size: cover;
  background-position: center center;
  height: 200px;
  transition: background .4s linear;
}

.Event-itemsContainer {
  background-color: #333;
}

@media screen and (min-width: 40em) {
  .Event-itemImage {
    height: auto;
  }
}
